/algorithms-part-i/week-1/percolation/*png
/algorithms-part-i/week-1/percolation/*txt
/algorithms-part-i/week-1/percolation/*iml
/algorithms-part-i/week-2/queues/*png
/algorithms-part-i/week-2/queues/*txt
/algorithms-part-i/week-2/queues/*iml

/algorithms-part-i/week-1/percolation/.idea/
/algorithms-part-i/week-1/percolation/.lift/
/algorithms-part-i/week-2/queues/.lift/
/algorithms-part-i/week-2/queues/.idea/

/algorithms-part-i/week-3/Collinear/.idea/
/algorithms-part-i/week-3/Collinear/*iml
